body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    /* Fuentes */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header{
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #61dafb;
}

.center{
    width: 75%;
    margin: 0px auto;
}

.clearfix{
    clear: both;
    float: none;
}

#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img{
    display: block;
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-right: 10px;
    /* Animation */
    animation: girar infinite 30s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);

    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;
}

#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul{
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover{
    color: #3cb2d3;


}
