body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    /* Fuentes */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header{
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #61dafb;
}

.center{
    width: 75%;
    margin: 0px auto;
}

.clearfix{
    clear: both;
    float: none;
}

#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img{
    display: block;
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-right: 10px;
    /* Animation */
    animation: girar infinite 30s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);

    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;
}

#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul{
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover{
    color: #3cb2d3;
}

#slider{
    width: 100%;
    height: 350px;
    /* line-height: 320px; */
    color: white;
    text-shadow: 0px 0px 5px#444;
    background: #61dafb;

     /*DEGRADADO CSS*/
     background: rgba(73,155,234,1);
     background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(81,175,247,1) 100%);
     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(81,175,247,1)));
     background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(81,175,247,1) 100%);
     background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(81,175,247,1) 100%);
     background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(81,175,247,1) 100%);
     background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(81,175,247,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#51aff7', GradientType=1 );
 }

#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}

.btn-white{
    display: block;
    background: white;
    color: rgb(88,88,88);
    padding: 10px;
    width: 100px;
    height: 30px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow : 0px 0px 5px rgb(88,88,88);
    margin-top: 40px;
    border-radius: 5px;
    transition: 300ms all;
}

.btn-white:hover{
    background: #444;
    color: white;
    box-shadow : 0px 0px 5px rgb(88,88,88);
}

#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px
}

#content{
    width: 70%;
    float: left;
    /* border: 1px solid #ccc; */
    min-height: 450px;
    margin-right: 20px;
}

#sidebar{
    width: 25%;
    float: left;
    /* border: 1px solid green; */
}

.sidebar-item{
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}

.sidebar-item  .btn{
    margin-top: 10px;
    margin: 0px auto;
}

.btn{
    display: block;
    background-color: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.btn-success{
    background-color: #2B4162;
}

.btn-success:hover{
    background-color: black;
}

input[type="text"]{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;	
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus{
    box-shadow: 0px 0px 5px #444 inset;
}